/*
==============================================
CSS3 ANIMATION CHEAT SHEET
==============================================

Made by Justin Aguilar

www.justinaguilar.com/animations/

Questions, comments, concerns, love letters:
justin@justinaguilar.com
==============================================
*/
#appear{ display: none; }


.slideUp{
	animation-name: slideUp;
	-webkit-animation-name: slideUp;	
	animation-duration: 9s;	
	-webkit-animation-duration: 9s;
	
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;
	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
	transform: translateY(0%);
	}
	50%{
		transform: translateY(0%);
	}
	65%{
		transform: translateY(-0%);
	}
	80%{
		transform: translateY(0%);
	}
	95%{
		transform: translateY(102%);
	}			
	100% {
		transform: translateY(-2%);
	}	
}

@-webkit-keyframes slideUp {
	0% {
		-webkit-transform: translateY(0%);
	}
	50%{
		-webkit-transform: translateY(0%);
	}
	65%{
		-webkit-transform: translateY(0%);
	}
	80%{
		-webkit-transform: translateY(0%);
	}
	95%{
		-webkit-transform: translateY(102%);
	}			
	100% {
		-webkit-transform: translateY(-2%);
	}	
}




html, body, .container {
    height: 100%;
}
.container {
    position: relative;
    text-align: center;
}
.container > p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -70px;
}

#footer {
position:fixed;
bottom:5px;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width:100% ;
visibility: hidden;
}

