
#appear{ display: none; }



#app{ display: none; }
#apps{ display: none; }

.resize{
    width:40%; /* you can use % */
    height: auto;
     display: inline-block;
    vertical-align: middle;
    display: none;
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    
}

html, body, .container {
    height: 100%;
}
.container {
    position: relative;
    text-align: center;
}
.container > p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -70px;
}

body {
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #5FC1E7;
}

.footer {
position:fixed;
bottom:5px;
text-align: center ;
font-size: 16px ;
font-family: verdana ;
width:100% ;

}
